#test {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

#main1 {
    width: 30vw;
    align-items: center;

}

#test12 {

    padding: 0.5em;
}



#ok {
    flex: 1;
    white-space: nowrap;
}